@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">@localizer["Yeni Rezervasyon"]</h2>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">@localizer["Sitemiz üzerinde yer alan lokasyonlara ait rezervasyonlarınızı aşağıdan oluşturabilirsiniz."]</p>
                    <form method="post">
                        <div class="form-group">
                            <label>@localizer["Lokasyon"]</label>
                            @Html.DropDownListFor(x=>x.Destination,(List<SelectListItem>)ViewBag.v,new {@class="form-control"})
                        </div>
                        <div class="form-group">
                            <label>@localizer["Kişi Sayısı"]</label>
                            <input type="text" asp-for="PersonCount" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>@localizer["Tarih"]</label>
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>@localizer["Açıklama (Varsa)"]</label>
                            <input type="text" asp-for="Description" class="form-control" />
                        </div>
                        <button type="button" class="btn btn-success btn-min-width mr-1 mb-1">@localizer["Rezervasyon Yap"]</button>
                        <p style="text-align:right">@localizer["Soru, görüş ve önerileriniz için"] <span class="text-bold-600"><a href="/Contact/Index" target="_blank">@localizer["tıklayınız..."]</a></span></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = (function () {
        alert('@localizer["Rezervasyonunuz başlangıçta onay bekliyor şeklinde alınacaktır. Rezervasyon onaylanma süreci ile ilgili lütfen Aktif Rezervasyonlarım menüsünü takip ediniz"]');
    });
</script>

