@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Yeni Rezervasyon</h2>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Sitemiz üzerinde yer alan lokasyonlara ait rezervasyonlarınızı aşağıdan oluşturabilirsiniz.</p>
                    <form method="post">
                        <div class="form-group">
                            @Html.Label("Lokasyon")
                            @Html.DropDownListFor(x=>x.Destination,(List<SelectListItem>)ViewBag.v,new {@class="form-control"})
                        </div>
                        <div class="form-group">
                            @Html.Label("Kişi Sayısı")
                            <input type="text" asp-for="PersonCount" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Tarih")
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Açıklama (Varsa)")
                            <input type="text" asp-for="Description" class="form-control" />
                        </div>
                        <button class="btn btn-success">Rezervasyon Yap</button>
                        <p style="text-align:right">Soru, görüş ve önerileriniz için <span class="text-bold-600"><a href="/Contact/Index" target="_blank">tıklayınız...</a></span></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = (function () {
        alert('Rezervasyonunuz başlangıçta onay beliyor şeklinde alınacaktır. Rezervasyon onaylanma süreci ile ilgili lütfen "Aktif Rezervasyonlarım" menüsünü takip ediniiz');
    });
</script>

