@model EntityLayer.Concrete.Destination
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

<style>

    h2 {
        text-align:center;
    }

    #backButton {
    }

    #updateButton {
        position: absolute;
        right: 110px
    }

</style>


<h2>ŞEHİR - ROTA GÜNCELLE</h2>


<form method="post">
    @Html.HiddenFor(x=>x.DestinationID)

    <button class="btn btn-outline-success" id="updateButton"><i class="bi bi-save"></i> Rota Güncelle</button>
    <a href="/Admin/Destination/Index" class="btn btn-outline-danger" id="backButton"><i class="bi bi-backspace"></i> Geri</a>
    <br /><br />

    <div class="form-group">
        @Html.Label("Şehir:")
        <input type="text" asp-for="City" class="form-control" />
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Gün - Gece:")
        <input type="text" asp-for="DayNight" class="form-control" />
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Fiyat:")
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Ana Görsel:")
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Açıklama:")
        <textarea cols="30" rows="3" class="form-control" asp-for="Description"></textarea>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Kapasite:")
        <input type="number" asp-for="Capacity" class="form-control" />
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Kapak Görseli:")
        <input type="text" asp-for="CoverImage" class="form-control" />
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Detay 1:")
        <textarea cols="30" rows="4" class="form-control" asp-for="Details1"></textarea>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Detay 2:")
        <textarea cols="30" rows="4" class="form-control" asp-for="Details2"></textarea>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Görsel 2:")
        <input type="text" asp-for="Image2" class="form-control" />
    </div>
    <br />
</form>


