@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="~/member/theme-assets/images/backgrounds/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="index.html">
                    <img class="brand-logo" alt="Chameleon admin logo" src="~/member/theme-assets/images/logo/logo.png" />
                    <h3 class="brand-text">Traversal</h3>
                </a>
            </li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" active">
                <a href="/Member/Dashboard/MemberDashboard"><i class="ft-home"></i><span class="menu-title" data-i18n="">@localizer["Ana Sayfa"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Profile/Index"><i class="ft-user"></i><span class="menu-title" data-i18n="">@localizer["Profilim"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Reservation/MyCurrentReservation"><i class="ft-check-square"></i><span class="menu-title" data-i18n="">@localizer["Aktif Rezer."]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Reservation/MyOldReservation"><i class="ft-list"></i><span class="menu-title" data-i18n="">@localizer["Geçmiş Rezer."]</span></a>
            </li>
            <li class="nav-item">
                <a href="/Member/Reservation/MyApprovalReservation"><i class="ft-activity"></i><span class="menu-title" data-i18n="">@localizer["Onay Bekleyenler"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Reservation/NewReservation"><i class="ft-plus-square"></i><span class="menu-title" data-i18n="">@localizer["Yeni Rezervasyon"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="ft-message-square"></i><span class="menu-title" data-i18n="">@localizer["Yorumlarım"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Member/Destination/Index"><i class="ft-map-pin"></i><span class="menu-title" data-i18n="">@localizer["Tur Rotaları"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="ft-calendar"></i><span class="menu-title" data-i18n="">@localizer["Takvim"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Default/Index/" target="_blank"><i class="ft-log-out"></i><span class="menu-title" data-i18n="">@localizer["Siteye Git"]</span></a>
            </li>
        </ul>
    </div><a class="btn btn-danger btn-block btn-glow btn-upgrade-pro mx-1" href="" target="_blank"><i class="ft-power"></i> @localizer["ÇIKIŞ YAP"]</a>
    <div class="navigation-background"></div>
</div>