@using EntityLayer.Concrete
@model List<Comment>

@{
    ViewData["Title"] = "CommentUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

<style>

    h2 {
        text-align: center;
    }

    .styledTable {
        position: center;
    }

    table {
        width: 100%;
        border: 0.5px solid;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    th {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
        text-align: center;
    }

    td {
        border: 1px solid;
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #000;
        text-align: center;
    }

    thead th {
        background-color: #5453A6;
    }

    tbody tr :hover {
        background-color: rgba(255,255,255,0.2);
    }

    tbody td {
        position: relative;
    }

</style>

<h2>KULLANICI YORUMLARI</h2>
<br />
<a href="/Admin/User/Index/" class="btn btn-outline-danger" title="Geri"><i class="bi bi-backspace"></i>  Geri</a>
<br />
<br />
<div class="styledTable">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Kullanıcı</th>
                <th>Rota</th>
                <th>İçerik</th>
                <th>Tarih</th>
                <th>Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@x.AppUser.Name @x.AppUser.Surname</td>
                    <td>@x.Destination.City</td>
                    <td>@x.CommentContent</td>
                    <td>@(((DateTime)x.CommentDate).ToString("dd MMMM yyyy"))</td>
                    <td><a href="/Destination/DestinationDetails/@x.DestinationID" class="btn btn-outline-info" target="_blank">Görüntüle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

